body {
    background-image: url('bg_stars_2.jpg');
}    

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'nav nav nav nav nav'
    'article article article aside aside'
    'footer footer footer footer footer';
    gap: 10px;
    padding: 90px;
}